apiVersion: 1

datasources:
-  access: 'proxy'
   editable: true
   is_default: true
   name: 'prometheus'
   org_id: 1
   type: 'prometheus'
   url: 'http://{{ CommonPrefix }}prometheus:9090'
   version: 1
   uid: 'prometheus'    
   jsonData:
     timeInterval: '1s'
