scrape_configs:
  - job_name: 'shardman'
    scrape_interval: 5s
    static_configs:
      - targets: [{{ range i, v := RangeLimit }}{{ if i > 0 }},{{ end }}"{{ CommonPrefix }}n{{ v }}:15432","{{ CommonPrefix }}pe{{ v }}:9187"{{ end }},"{{ CommonPrefix }}cadvisor:8080"]
