{
   "ConfigVersion": "1",
   "Repfactor": {{ ClusterRepfactor }},
   "PlacementPolicy": "{{ ClusterPlacementPolicy }}",
   "PgSuAuthMethod": "scram-sha-256",
   "#PgSuPassword": "12345",
   "PgSuUsername": "postgres",
   "PgSuSSLKey": "/var/lib/postgresql/.ssh/client.key",
   "PgSuSSLCert": "/var/lib/postgresql/.ssh/client.crt",
   "PgReplAuthMethod": "scram-sha-256",
   "#PgReplPassword": "12345",
   "PgReplUsername": "repluser",
   "PgReplSSLKey": "/var/lib/postgresql/.ssh/repluser.key",
   "PgReplSSLCert": "/var/lib/postgresql/.ssh/repluser.crt",
   "PgSSLRootCert": "/var/lib/postgresql/.ssh/ca.crt",
   "PgSSLMode": "verify-full",
   "ShardSpec": {
    "proxyCheckInterval": "5s",
    "proxyTimeout": "30s",
    "synchronousReplication": true,
    "minSynchronousStandbys": 0,
    "maxSynchronousStandbys": 4,
    "usePgrewind": true,
    "pgParameters": {
     "ssl": "on",
     "ssl_cert_file": "/var/lib/postgresql/.ssh/server.crt",
     "ssl_key_file": "/var/lib/postgresql/.ssh/server.key",
     "ssl_ca_file": "/var/lib/postgresql/.ssh/ca.crt",
     "csn_snapshot_defer_time": "300",
     "enable_csn_snapshot": "on",
     "enable_csn_wal": "true",
     "log_statement":"none",
     "log_line_prefix":"%m [%r][%p]",
     "log_destination": "stderr",
     "log_filename": "pg.log",
     "logging_collector": "on",
     "log_checkpoints": "false",
     "log_min_messages": "INFO",
     "log_min_error_statement":"INFO",
     "log_statement": "none",
     "maintenance_work_mem": "1GB",
     "max_connections": "600",
     "max_files_per_process": "65535",
     "max_logical_replication_workers": "9",
     "max_prepared_transactions": "200",
     "max_wal_size": "4GB",
     "max_worker_processes": "16",
     "min_wal_size": "512MB",
     "postgres_fdw.subplan_pushdown": "off",
     "shardman.query_engine_mode": "text",
     "shardman.silk_num_workers": "8",
     "shared_buffers": "4GB",
     "shared_preload_libraries": "postgres_fdw, shardman"
    },
    "strictUserHBA": true,
    "pgHBA": [
     "hostssl all postgres 0.0.0.0/0 cert clientcert=verify-full",
     "hostssl all repluser 0.0.0.0/0 cert clientcert=verify-full",
     "hostssl replication postgres 0.0.0.0/0 cert clientcert=verify-full",
     "hostssl replication postgres ::0/0 cert clientcert=verify-full",
     "hostssl replication repluser 0.0.0.0/0 cert clientcert=verify-full",
     "hostssl replication repluser ::0/0 cert clientcert=verify-full",
     "hostnossl all all 0.0.0.0/0 reject",
     "local postgres postgres scram-sha-256",
     "local replication repluser scram-sha-256"
    ],
    "automaticPgRestart": true,
    "masterDemotionEnabled": false
   },
   "FDWOptions": {
    "async_capable": "on",
    "batch_size": "100",
    "connect_timeout": "5",
    "fdw_tuple_cost": "0.2",
    "fetch_size": "50000",
    "tcp_user_timeout": "10000"
   }
  }